.nav-link-custom.active {
  color:#ffc107; 
}

.nav-link-custom {
  color: white;
  transition: color 0.3s ease;
}

.nav-link-custom:hover,.nav-link-custom:active {
  color: #ffc107 !important; 
}

.login-btn {
  background-color: #ffc107; 
  color: #000;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #e0a800;
  transform: scale(1.05);
  color: #000;
}
