<div class="container mt-4">
    <table class="table table-bordered table-striped ngIf='borrowHistory.length > 0'">
         <thead class="table-primary">
      <tr>
        <th>Book Title</th>
        <th>Borrowed Date</th>
        <th>Returned Date</th>
        <th>Returned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of borrowHistory">
        <td>{{ record.title }}</td>
        <td>{{ record.borrowedDate | date:'mediumDate' }}</td>
        <td>{{ record.returnDate | date:'mediumDate' }}</td>
        <td>
            <span class="badge bg-success" *ngIf="record.isReturned">Returned</span>
            <span class="badge bg-warning text-dark" *ngIf="!record.isReturned">Not Returned</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="borrowHistory.length === 0">
    <p>No borrow history found for this user.</p>
  </div>
</div>
