<app-navbar></app-navbar>
<div class="about-section bg-light py-5">
  <div class="container bg-white rounded p-5 shadow">
    <h1 class="display-5 fw-bold text-primary mb-4">About AI-Powered Library Management System</h1>
    <p class="lead text-dark">
      The AI Library Management System is designed to make library operations seamless and intelligent.
      It offers a modern solution for tracking books, managing users, and enhancing the library experience
      through AI-based recommendations.
    </p>
    <p class="lead text-dark">
      Users can easily search, borrow, and return books, while administrators benefit from real-time monitoring
      of inventory, user activity, and library performance.
    </p>

    <h2 class="fw-bold mt-5 text-primary">Key Features</h2>
    <ul class="list-unstyled mt-3 fs-5 text-dark">
      <li class="mb-2"><i class="bi bi-stars text-primary me-2"></i>Smart book recommendations and samrt search</li>
      <li class="mb-2"><i class="bi bi-book text-primary me-2"></i>Real-time book availability tracking</li>
      <li class="mb-2"><i class="bi bi-person-check text-primary me-2"></i>Easy user registration and login</li>
      <li class="mb-2"><i class="bi bi-bar-chart-line text-primary me-2"></i>Detailed activity logs and statistics using graphical representation</li>
    </ul>
  </div>
</div>



